@font-face {
    font-family: 'Gilroy-Regular';
    src: url('../fonts/Gilroy-Regular.woff2') format('woff2'),
        url('../fonts/Gilroy-Regular.woff') format('woff');
}

@font-face {
    font-family: 'Nekst-Bold';
    src: url('../fonts/Nekst-Bold.woff2') format('woff2'),
        url('../fonts/Nekst-Bold.woff') format('woff');
}